@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --bgPrimary: #020912;
    --bgSecondary: #e9e9e9;
    --txtPrimary: #e9e9e9;
    --txtSecondary: #020912;
    --borderPrimary: rgba(255, 255, 255, 0.2);
    --borderSecondary: rgba(0, 0, 0, 0.2);
    --btnPrimary: linear-gradient(120deg, rgba(36,103,32,1) 0%, rgba(8,33,66,1) 0%, rgba(36,103,32,1) 100%);
}

html{
    font-family: "Open Sans", serif;
    background: var(--bgPrimary);
    color: #e9e9e9;
    font-size: 1em;
}

header{
    border-bottom: solid 1px var(--borderPrimary);
    height: 10vh;
}

header .container{
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    width: 100%;
    color: #e9e9e9;
    text-decoration: none;
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
}

main{
    height: 80vh;
}

main .container{
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.create-new-graph{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.create-new-graph span{
    font-size: 1.5em;
    text-align: center;
}

.build-btn{
    height: 40px;
    width: 160px;
    padding: 0 5%;
    cursor: pointer;
    font-weight: 700;
    color: var(--txtPrimary);
    background: linear-gradient(120deg, rgba(36,103,32, 0.2) 50%, rgba(8,33,66, 0.8) 100%);
    border: solid 1px var(--borderPrimary);
    border-radius: 15px;
}

.build-btn:hover{
    background: var(--bgSecondary);
    color: var(--txtSecondary);
    border: solid 1px var(--borderSecondary);
    transition: 200ms ease-in;
}

.newForm{
    position: absolute;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    padding: 10px;
    background: var(--bgSecondary);
    border-radius: 10px;
    color: var(--txtSecondary);
}

.newForm .close-btn{
    position: absolute;
    right: 2%;
    top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.50em;
 }

.newForm .newForm-container{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.newForm .newForm-container input{
    min-height: 40px;
    padding: 2%;
    font-weight: 600;
    border: 1px solid var(--borderSecondary);
    border-radius: 5px;
    outline: none;
}

.newForm .newForm-container select{
   min-height: 40px;
   font-weight: 600;
   border: solid 1px var(--borderSecondary);
   border-radius: 5px;
   outline: none;
}

.newForm .newForm-container button{
   min-height: 40px;
   background: var(--btnPrimary);
   color: var(--txtPrimary);
   border: solid 1px var(--borderSecondary);
   border-radius: 5px;
   cursor: pointer;
}

.dataSet{
    display: flex;
    flex-direction: column;
    gap: 2%;
    column-gap: 10px;
    border: dashed 1px var(--borderSecondary);
    max-height: 200px;
    overflow: scroll;
}

.dataSet input{
    width: 50%;
}

footer{
    border-top: solid 1px var(--borderPrimary);
    height: 10vh;
}

footer .container{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-container{
    border: solid 1px var(--borderPrimary);
    border-radius: 10px;
    padding: 2%;
    background: var(--bgSecondary);
    display: none;
    width: 300px;
    margin: auto;
}

#print-btn{
    width: 100%;
    display: flex;
    justify-content: end;
}

.chart-container button{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: solid 1px var(--borderSecondary);
    cursor: pointer;
}



@media screen and (min-width: 425px) {
    .newForm{
        width: 350px;
    }

    .chart-container{
        width: 350px;
    }
}

@media screen and (min-width: 768px){
    .newForm{
        width: 400px;
    }
    .chart-container{
        width: 400px;
    }
}